body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #f5f5f5;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Lucida Sans','Lucida Sans Regular','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,sans-serif;
}

header{
  background-color:rgb(27,27,27);
  display:flex;
  align-items:center;
  justify-content:center;
  position:relative;
  padding:20px 0;
}
.logo img{
  width:300px;
}
.fundo {
    height: 66vh;
    background: url("fotos/De mais brilho.png") no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.fundo h1 {
    font-size: 3rem;
    font-weight: 400;
    color: black;
    margin-top: 40px;
}

.botoes {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 130px;
}

.botao {
    background-color: black;
    color: white;
    padding: 12px 18px;
    border-radius: 40px;
    text-decoration: none;
    font-size: 1.3rem;
    transition: all 0.3s ease;
}

.botao:hover {
    background-color: #3d3d3d;
    transform: scale(1.05);
}

.ou {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin: 25px 0;
    color: black;
}

.continue {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    color: black;
}

.continue a {
    color: gray;
    text-decoration: none;
    margin-left: 5px;
}

.continue a:hover {
    text-decoration: underline;
}
.footer {
 margin-top: auto;
  background: rgb(27,27,27);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  gap: 40px;
  flex-wrap: wrap;
}


.fotos{
  width:70px;
  height:70px;
  display:flex;
  align-items:center;
  justify-content:center;
}

.fotos img{
  width:100%;
  height:100%;
  object-fit:contain;
  filter:brightness(95%);
  transition:.3s;
}

.fotos img:hover{
  transform:translateY(-4px) scale(1.05);
  filter:brightness(110%);
}

/* RESPONSIVIDADE */
@media(max-width:600px){
  .aside{font-size:2.8rem;left:12px;}
  .cart-page{padding:20px;}
  .cart-actions button{padding:10px 18px;}
  .footer{gap:25px;padding:20px;}
  .fotos{width:45px;height:45px;}
}
