* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
                 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background-color: rgb(27, 27, 27);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 20px 0;
}

.trasso {
    position: absolute;
    left: 20px;
    color: whitesmoke;
    font-size: 8rem;
    cursor: pointer;
}

.logotipo {
    width: 120px;
}

main {
    background-color: rgb(230, 230, 230);
    padding: 30px 0;
}

#produtos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-items: center;
    align-items: start;
    text-align: center;
    padding: 30px;
}

.card, .cardbugado, .cardbugado2, .cardbugado3 {
    color: gray;
}

.cardcor {
    background-color: rgb(82, 82, 82);
    transition: 0.3s;
    text-align: center;
    align-items: center;
    height: 200px;
    width: 260px;
    margin-bottom: 10px;
    cursor: pointer;
}

.cardcor:hover {
    background-color: rgb(63, 63, 63);
}

.card img {
    width: 200px;
    margin-top: 5%;
}

.cardbugado img {
    width: 200px;
    margin-top: 30%;
}

.cardbugado2 img {
    width: 200px;
    margin-top: 20%;
}
.cardbugado3 img {
    width: 200px;
    margin-top: 19%;
}
a{
    text-decoration: none;
}